# Ex2 - Getting and Knowing your Data

## Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

## Step 2. Import the dataset from this address.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

## Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv(url, sep='\t')

## Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Step 5. What is the number of observations in the dataset?

In [ ]:
chipo.shape[0]

4622

## Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

## Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

## Step 9. Which was the most-ordered item?

In [ ]:
most_ordered_item = chipo.groupby('item_name')
most_ordered_item = most_ordered_item.sum()
most_ordered_item = most_ordered_item.sort_values(['quantity'], ascending=False)
most_ordered_item.head(1)

<ipython-input-9-3333d31cdd2e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_ordered_item = most_ordered_item.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
ordered = chipo.groupby('item_name')
ordered = ordered.sum()
ordered = ordered.sort_values(['quantity'], ascending=False)
ordered.head(1)

<ipython-input-10-2bc2ea474ac9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ordered = ordered.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Step 11. What was the most ordered item in the choice_description column?

In [ ]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-11-75850f22aa4e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## Step 12. How many items were orderd in total?

In [ ]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

## Step 13. Turn the item price into a float

In [ ]:
chipo.item_price.dtype

dtype('O')

## Step 15. How many orders were made in the period?

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

1834

## Step 17. How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()

50